// JQuery
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
// Latest compiled and minified JavaScript
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
script(src="../assets/js/functions.min.js")
// Typed.js
script(src="../assets/js/typed.js")
// Intro.js
script(src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.0.0/intro.min.js")
| 
| </html>
