/* Colors */

$main-color = #0028d5
$sub-title = #666666

/* Mixins */
transform(value)
  -webkit-transform: value
  -moz-transform: value
  -ms-transform: value
  -o-transform: value
  transform: value
  
box-shadow(value)
	-webkit-box-shadow: value
	-moz-box-shadow: value
	box-shadow: value