extends ./partials/head.jade
block title
	// Title Of Page
	title G Dev Tech
block content
	include ./layout/header.jade
	include ./layout/navigation.jade
	.container
		p.
			distinctio praesentium architecto voluptas veniam. Nulla odit, tempora maiores quas architecto minima fugiat perferendis voluptates aliquid nihil.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci vel id aut praesentium in temporibus vero sequi eligendi animi dignissimos minus ratione, repellat provident voluptas incidunt facere reprehenderit cumque magni!
		p.
			distinctio praesentium architecto voluptas veniam. Nulla odit, tempora maiores quas architecto minima fugiat perferendis voluptates aliquid nihil.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci vel id aut praesentium in temporibus vero sequi eligendi animi dignissimos minus ratione, repellat provident voluptas incidunt facere reprehenderit cumque magni!
		p.
			distinctio praesentium architecto voluptas veniam. Nulla odit, tempora maiores quas architecto minima fugiat perferendis voluptates aliquid nihil.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci vel id aut praesentium in temporibus vero sequi eligendi animi dignissimos minus ratione, repellat provident voluptas incidunt facere reprehenderit cumque magni!
		p.
			distinctio praesentium architecto voluptas veniam. Nulla odit, tempora maiores quas architecto minima fugiat perferendis voluptates aliquid nihil.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci vel id aut praesentium in temporibus vero sequi eligendi animi dignissimos minus ratione, repellat provident voluptas incidunt facere reprehenderit cumque magni!
		p.
			distinctio praesentium architecto voluptas veniam. Nulla odit, tempora maiores quas architecto minima fugiat perferendis voluptates aliquid nihil.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci vel id aut praesentium in temporibus vero sequi eligendi animi dignissimos minus ratione, repellat provident voluptas incidunt facere reprehenderit cumque magni!
		p.
			distinctio praesentium architecto voluptas veniam. Nulla odit, tempora maiores quas architecto minima fugiat perferendis voluptates aliquid nihil.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci vel id aut praesentium in temporibus vero sequi eligendi animi dignissimos minus ratione, repellat provident voluptas incidunt facere reprehenderit cumque magni!
		p.
			distinctio praesentium architecto voluptas veniam. Nulla odit, tempora maiores quas architecto minima fugiat perferendis voluptates aliquid nihil.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci vel id aut praesentium in temporibus vero sequi eligendi animi dignissimos minus ratione, repellat provident voluptas incidunt facere reprehenderit cumque magni!
		p.
			distinctio praesentium architecto voluptas veniam. Nulla odit, tempora maiores quas architecto minima fugiat perferendis voluptates aliquid nihil.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci vel id aut praesentium in temporibus vero sequi eligendi animi dignissimos minus ratione, repellat provident voluptas incidunt facere reprehenderit cumque magni!
		p.
			distinctio praesentium architecto voluptas veniam. Nulla odit, tempora maiores quas architecto minima fugiat perferendis voluptates aliquid nihil.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci vel id aut praesentium in temporibus vero sequi eligendi animi dignissimos minus ratione, repellat provident voluptas incidunt facere reprehenderit cumque magni!
		p.
			distinctio praesentium architecto voluptas veniam. Nulla odit, tempora maiores quas architecto minima fugiat perferendis voluptates aliquid nihil.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci vel id aut praesentium in temporibus vero sequi eligendi animi dignissimos minus ratione, repellat provident voluptas incidunt facere reprehenderit cumque magni!
		p.
			distinctio praesentium architecto voluptas veniam. Nulla odit, tempora maiores quas architecto minima fugiat perferendis voluptates aliquid nihil.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci vel id aut praesentium in temporibus vero sequi eligendi animi dignissimos minus ratione, repellat provident voluptas incidunt facere reprehenderit cumque magni!
		p.
			distinctio praesentium architecto voluptas veniam. Nulla odit, tempora maiores quas architecto minima fugiat perferendis voluptates aliquid nihil.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci vel id aut praesentium in temporibus vero sequi eligendi animi dignissimos minus ratione, repellat provident voluptas incidunt facere reprehenderit cumque magni!
		p.
			distinctio praesentium architecto voluptas veniam. Nulla odit, tempora maiores quas architecto minima fugiat perferendis voluptates aliquid nihil.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci vel id aut praesentium in temporibus vero sequi eligendi animi dignissimos minus ratione, repellat provident voluptas incidunt facere reprehenderit cumque magni!
		p.
			distinctio praesentium architecto voluptas veniam. Nulla odit, tempora maiores quas architecto minima fugiat perferendis voluptates aliquid nihil.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci vel id aut praesentium in temporibus vero sequi eligendi animi dignissimos minus ratione, repellat provident voluptas incidunt facere reprehenderit cumque magni!
		p.
			distinctio praesentium architecto voluptas veniam. Nulla odit, tempora maiores quas architecto minima fugiat perferendis voluptates aliquid nihil.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci vel id aut praesentium in temporibus vero sequi eligendi animi dignissimos minus ratione, repellat provident voluptas incidunt facere reprehenderit cumque magni!
		p.
			distinctio praesentium architecto voluptas veniam. Nulla odit, tempora maiores quas architecto minima fugiat perferendis voluptates aliquid nihil.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci vel id aut praesentium in temporibus vero sequi eligendi animi dignissimos minus ratione, repellat provident voluptas incidunt facere reprehenderit cumque magni!
	include ./partials/foot.jade