extends ./partials/head.jade
block title
	// Title Of Page
	title G Dev Tech
block content
	include ./layout/header.jade
	include ./layout/navigation.jade
	include ./layout/home.jade
	include ./layout/intro.jade
	include ./layout/about.jade
	include ./layout/services.jade
	include ./layout/works.jade
	include ./layout/contact.jade
	include ./layout/footer.jade
	include ./partials/foot.jade