/*=============================================
=            1 Tools                         =
=============================================*/
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato'), local('Lato-Regular'), url("https://fonts.googleapis.com/css?family=Lato:400,300,700");
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato'), local('Lato-Bold'), url("https://fonts.googleapis.com/css?family=Lato:400,300,700");
}
/*=======================================
=      2 Basics                         =
=======================================*/
.navbar-wrapper {
  overflow: hidden;
}
.navbar {
  background-color: #196fc0;
}
.active {
  background-color: #3e7ae3;
  border-bottom: 3px solid #fff;
}
.navbar-brand {
  padding-top: 0;
  color: #fff;
  background-color: #3e7ae3;
}
width: 102px:hover,
float: left:hover,
position: absolute:hover,
display: inline-block:hover,
left: 28px:hover {
  color: #fff;
  text-decoration: none;
  border-bottom: 3px solid #fff;
  padding-bottom: 12px;
}
.navbar-brand>img {
  width: 65px;
}
@media (max-width: 767px) {
  .navbar-brand>img {
    margin-left: 10px;
  }
}
.navbar-nav {
  float: right;
}
.nav>li>a {
  color: #fff;
}
.nav>li>a:focus {
  background-color: #3e7ae3;
}
.nav>li>a:hover {
  background-color: #3e7ae3;
  text-decoration: none;
  border-bottom: 3px solid #fff;
  padding-bottom: 12px;
}
@media (max-width: 767px) {
  .nav>li>a {
    margin-left: 10px;
  }
  .nav>li>a:hover {
    font-weight: 600;
  }
}
.navbar-toggle .icon-bar {
  background-color: #fff;
}
/*===============================
=            4 Pages            =
===============================*/
