/*===============================
=            3 Modules          =
===============================*/
@import url('_2basics/navbar.css')
@import url('_3modules/animate.css')
/*=============================================
=            1 Tools                         =
=============================================*/
// FONTS
@import '_1tools/_fonts'
@import '_1tools/_vars'
/*=======================================
=      2 Basics                         =
=======================================*/
@import '_2basics/_body-ele'
@import '_2basics/_btns'
@import '_2basics/_links'
@import '_2basics/_nav.styl'
@import '_2basics/_selection-colors'
/*===============================
=            4 Pages            =
===============================*/
@import '_4pages/_home'
@import '_4pages/_intro'
@import '_4pages/_about'
@import '_4pages/_services'
@import '_4pages/_works'
@import '_4pages/_contact'