.contact-form 
  background: #ffffff
  height: auto
  margin: 50px auto
  max-width: 80%
  overflow: hidden
  width: 65%
  @media (max-width: 991px) 
    margin: 0 0 50px
    width: 100%
    max-width: 100%
  

.contact-form .email, .contact-form .message, .contact-form .name 
  position: relative

.contact-form .email label, .contact-form .message label, .contact-form .name label 
  color: #cbd0d3
  left: 23px
  position: absolute
  top: 23px
  transition(top 150ms)

.contact-form .email.typing label, .contact-form .message.typing label, .contact-form .name.typing label 
  color: #3498db
  font-size: 10px
  top: 10px

.contact-form .email, .contact-form .name 
  width: calc(50% - 1px)
  @media (max-width: 991px)
    width: 100%
  

.contact-form .email input, .contact-form .name input 
  padding: 23px 0 8px 23px
  width: 100%
  color: $main-color

.contact-form .email 
  border-left: 1px #e6e6e6 solid
  float: right
  @media (max-width: 991px)
    border-left: none
    border-top: 1px #e6e6e6 solid
  

.contact-form .message 
  border-bottom: 1px #e6e6e6 solid
  border-top: 1px #e6e6e6 solid
  padding-top: 10px
  clear: both

.contact-form .message textarea 
  height: 200px
  padding: 23px
  width: 100%

.contact-form .name 
  float: left

.contact-form .submit
  display: block
  overflow: hidden
  padding: 23px

.contact-form .submit .button 
  display: block
  background: none
  margin: 0 auto
  border: 1px $main-color solid
  color: black
  padding: 9px 0
  width: 100%
  transition(background 1s)
  &:hover
    color:white
    background: $main-color
  @media (max-width: 991px)
    float: none

.contact-form .submit .button:active 
  background: $main-color

.contact-form .submit .button:focus 
  border-color: $main-color
  -moz-box-shadow: $main-color 0 0 4px 1px, $main-color 0 0 4px 1px inset
  -webkit-box-shadow: $main-color 0 0 4px 1px, $main-color 0 0 4px 1px inset
  box-shadow: $main-color 0 0 4px 1px, $main-color 0 0 4px 1px inset
  
