header
	height: 100vh
	background-image: url('../img/headerbg.jpg')
	background-size: cover
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	&:before
		position: absolute
		content:" "
		top:0
		left:0
		width:100%
		height: 100vh
		display: block
		z-index:0
		background-color: rgba(0, 0, 0, 0.12)
header>h1
	color: white
	z-index: 100
header>h2
	color: white
	z-index: 100
header>h4
	color: white
	z-index: 100
	border-bottom: 2px solid white
	padding-bottom: 7px
	text-transform: uppercase
header>img
	z-index: 100
header>p
	margin: 0
	color: white
	z-index: 100
	@media (max-width: 767px)
		width: 80%
.glyphicon-circle-arrow-down
	&:hover
		color: #3e7ae3
		text-decoration: none
.glyphicon-circle-arrow-down
	margin-top: 75px
	font-size: 55px
	color: white
.top-buffer
	margin-top: 45px
.title
	font-family: 'Lato', sans-serif
	font-weight: 400
	color: $main-color
	text-transform: uppercase
	letter-spacing: -2px
	word-spacing: 5px
.boxem-odd
	position: relative
	top: 34px
.boxem-even
	position: relative
	top: 34px
.sub-title
	color: $sub-title
	font-family: 'Lato', sans-serif
	font-weight: 400
	text-transform: uppercase
	letter-spacing: 2px
	word-spacing: 2px
.lead-odd
	font-weight: 700
	text-align: right
	@media (max-width: 767px)
		text-align: center
.lead-even
	font-weight: 700
	text-align: left
	@media (max-width: 767px)
		text-align: center
.sub-lead-odd
	font-weight: 400
	text-align: right
	font-size: 12px
	@media (max-width: 767px)
		text-align: center
.sub-lead-even
	font-weight: 400
	text-align: left
	font-size: 12px
	@media (max-width: 767px)
		text-align: center
.small-diamond
	width: 55px
	height: 55px
	background-color: rgba(255, 255, 255, 0.72)
	float: right
	position: relative
	top: 45px
	left: 10px
	transform: rotate(45deg)
	box-shadow: 2px 2px 7px 0px grey
	@media (max-width: 767px)
		left: -10px
		width: 40px
		height: 40px
		top: 65px
.small-diamond>h1
	color: black
	transform: rotate(-45deg)
	position: relative
	right: -17px
	top: -3px
	font-size: 27px
	@media (max-width: 767px)
		right: -10px
		top: -10px
		font-size: 22px
.small-diamond-even
	width: 55px
	height: 55px
	background-color: rgba(255, 255, 255, 0.72)
	float: right
	position: relative
	top: 45px
	left: 10px
	transform: rotate(45deg)
	box-shadow: 2px 2px 7px 0px grey
	@media (max-width: 767px)
		left: 31px
		width: 40px
		height: 40px
		top: 65px
.small-diamond-even>h1
	color: black
	transform: rotate(-45deg)
	position: relative
	right: -17px
	top: -3px
	font-size: 27px
	@media (max-width: 767px)
		right: -10px
		top: -10px
		font-size: 22px
.diamond-logo
	width: 0
	height: 0
	border: 115px solid transparent
	border-bottom-color: $main-color
	position: relative
	top: -85px
	left: 70px
	@media (max-width: 767px)
		display: none
.diamond-logo:after
	content: ''
	position: absolute
	left: -115px
	top: 115px
	width: 0
	height: 0
	border: 115px solid transparent
	border-top-color: $main-color
	@media (max-width: 767px)
		display: none
.diamond-logo>img
	position: relative
	z-index: 100
	top: 65px
	left: -71px
	height: 105px
	@media (max-width: 767px)
		display: none
.nth-row
	margin-left: -15px
	margin-right: -15px
	position: relative
	top: -82px
	@media (max-width: 767px)
		position: inherit
		top: 0