.desk-mode
	@media (max-width: 767px)
		display: none
.mob-mode
	@media (min-width: 767px)
		display: none
.sliderbox
	overflow: hidden
	background-color: #EEEEEE
.nav-tabs
	overflow: hidden
	height: 150px
	margin-top: 60px
	background-color: white
	border-bottom: 3px solid $main-color
.nav-tabs>li.active
	background-color: rgba(255, 255, 255, 0)
.nav-tabs>li.active>a
.nav-tabs>li.active>a:focus
.nav-tabs>li.active>a:hover
	color: white
	background-color: $main-color
	height: 150px
	width: 220px
.nav-tabs>li>a
	text-align: center
	color: #666
	background-color: white
	height: 150px
	width: 220px
	&:hover
		background-color: white
.med-diamond-serv
	position: absolute
	top: 47px
	left: 70px
	width: 75px
	height: 75px
	display: block
	margin: 0 auto
	background-color: rgba(255, 255, 255, 1.0)
	transform(rotate(45deg))
.tab-content>.active
	background-color: rgba(255, 255, 255, 0)
	margin-top 80px
	border: 0
.dash-serv
	display: block
	margin: 35px auto 25px 0
	border-bottom: 2px solid #cacaca
	width: 50px
.panel-group
	margin-top: 20px
.panel-title
	padding: 10px 15px 65px 15px
	text-align: center
	padding-left: 55px
	a
		text-decoration: none
		&:hover
			color: $main-color
			text-decoration: none
.panel-diamond
	width: 55px
	height: 55px
	background-color: rgba(255, 255, 255, 0.72)
	float: right
	position: relative
	top: 45px
	left: 57px
	transform(rotate(45deg))
	box-shadow(2px 2px 7px 1px grey)
	@media (max-width: 991px)
		left: -150px
		width: 40px
		height: 40px
		top: 30px
	h1
		color: black
		transform(rotate(-45deg))
		position: relative
		right: -17px
		top: -3px
		font-size: 27px
		&:hover
			color: $main-color
		@media (max-width: 991px)
			right: -2px
			top: -10px
			font-size: 22px