.desk-mode
	@media (max-width: 767px)
		display: none
.mob-mode
	@media (min-width: 767px)
		display: none
.sliderbox
	overflow: hidden
	background-color: #EEEEEE
.nav-tabs
	overflow: hidden
	height: 150px
	margin-top: 60px
	background-color: white
	border-bottom: 3px solid $main-color
.nav-tabs>li.active
	background-color: rgba(255, 255, 255, 0)
.nav-tabs>li.active>a
.nav-tabs>li.active>a:focus
.nav-tabs>li.active>a:hover
	color: white
	background-color: $main-color
	height: 150px
	width: 220px
.nav-tabs>li>a
	text-align: center
	color: #666
	background-color: white
	height: 150px
	width: 220px
	&:hover
		background-color: white
.med-diamond-serv
	position: absolute
	top: 47px
	left: 70px
	width: 75px
	height: 75px
	display: block
	margin: 0 auto
	background-color: rgba(255, 255, 255, 1.0)
	transform(rotate(45deg))
.tab-content>.active
	background-color: rgba(255, 255, 255, 0)
	margin-top 80px
	border: 0
.dash-serv
	display: block
	margin: 35px auto 25px 0
	border-bottom: 2px solid #cacaca
	width: 50px