#about.container
	.row.top-buffer
		.col-xs-12.col-md-12
			h1.text-center.title About G Dev Tech Work
			h4.text-center.sub-title - What we do for you -
	.row.top-buffer
		.col-xs-12.col-md-12
			.row
				.col-xs-12.col-md-3
					.med-diamond
						h1.glyphicon.glyphicon-heart-empty
					.about-col
						h3 Achievements
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse libero, eum? Nostrum numquam temporibus ducimus quasi
						span.dash-about
						p.more-link Learn More
				.col-xs-12.col-md-3
					.med-diamond
						h1.glyphicon.glyphicon-edit
					.about-col
						h3 Clean Design
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse libero, eum? Nostrum numquam temporibus ducimus quasi
						span.dash-about
						p.more-link Learn More
				.col-xs-12.col-md-3
					.med-diamond
						h1.glyphicon.glyphicon-resize-full
					.about-col
						h3 Retina Ready
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse libero, eum? Nostrum numquam temporibus ducimus quasi
						span.dash-about
						p.more-link Learn More
				.col-xs-12.col-md-3
					.med-diamond
						h1.glyphicon.glyphicon-phone
					.about-col
						h3 Responsive
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse libero, eum? Nostrum numquam temporibus ducimus quasi
						span.dash-about
						p.more-link Learn More