section#about.container
	.row.top-buffer
		.col-xs-12.col-md-12
			h1.text-center.title What we do
			h4.text-center.sub-title - What we do for you -
	.row.top-buffer
		.col-xs-12.col-md-3
			.lrg-diamond
				h1.glyphicon.glyphicon-heart-empty
			.about-col
				h3 Achievements
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse libero, eum? Nostrum numquam temporibus ducimus quasi
				span.dash-about
		.col-xs-12.col-md-3
			.lrg-diamond
				h1.glyphicon.glyphicon-edit
			.about-col
				h3 Clean Design
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse libero, eum? Nostrum numquam temporibus ducimus quasi
				span.dash-about
		.col-xs-12.col-md-3
			.lrg-diamond
				h1.glyphicon.glyphicon-resize-full
			.about-col
				h3 Retina Ready
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse libero, eum? Nostrum numquam temporibus ducimus quasi
				span.dash-about
		.col-xs-12.col-md-3
			.lrg-diamond
				h1.glyphicon.glyphicon-phone
			.about-col
				h3 Responsive
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse libero, eum? Nostrum numquam temporibus ducimus quasi
				span.dash-about
	.row.top-buffer.bottom-buffer
		.col-xs-12.col-md-6
			.intro-video
				h4.intro-title Introduction Video
				.dash-about
				.embed-responsive.embed-responsive-16by9
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qQB2wtKQkvM" allowfullscreen></iframe>
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore doloribus quidem sed, maxime numquam, excepturi velit eaque modi.
		.col-xs-12.col-md-6
			.skills
				h4.skills-title Our Skills
				.dash-about
				.skillbar.clearfix(data-percent="90%")
					.skillbar-title
						span Web Design
					.skillbar-bar
					.skill-bar-percent
						span.count 90%
				.skillbar.clearfix(data-percent="80%")
					.skillbar-title
						span Mobile Development
					.skillbar-bar
					.skill-bar-percent
						span.count 80%
				.skillbar.clearfix(data-percent="100%")
					.skillbar-title
						span HTML5
					.skillbar-bar
					.skill-bar-percent
						span.count 100%
				.skillbar.clearfix(data-percent="100%")
					.skillbar-title
						span CSS3
					.skillbar-bar
					.skill-bar-percent
						span.count 100%
				.skillbar.clearfix(data-percent="65%")
					.skillbar-title
						span JavaScript
					.skillbar-bar
					.skill-bar-percent
						span.count 65%
				.skillbar.clearfix(data-percent="65%")
					.skillbar-title
						span JQuery
					.skillbar-bar
					.skill-bar-percent
						span.count 65%