section#about.container
	.row.top-buffer
		.col-xs-12.col-md-12
			h1.text-center.title What we do
			h4.text-center.sub-title - What we do for you -
	.row.top-buffer
		.col-xs-12.col-md-3
			.lrg-diamond
				h1.glyphicon.glyphicon-heart-empty
			.about-col
				h3 Creative Design
				span.fa.fa-check Ecommerce Design
				span.fa.fa-check Website Design
				span.fa.fa-check Mobile Design
				span.fa.fa-check Print Design
				span.dash-about
		.col-xs-12.col-md-3
			.lrg-diamond
				h1.glyphicon.glyphicon-edit
			.about-col
				h3 Development
				span.fa.fa-check Responsive Website Development
				span.fa.fa-check Web Application Development
				span.fa.fa-check Content Management System
				span.fa.fa-check Wordpress Development
				span.dash-about
		.col-xs-12.col-md-3
			.lrg-diamond
				h1.glyphicon.glyphicon-resize-full
			.about-col
				h3 Marketing
				span.fa.fa-check Search Engine Optimization
				span.fa.fa-check Social Media Marketing
				span.fa.fa-check Content Marketing
				span.fa.fa-check Email Marketing
				span.dash-about
		.col-xs-12.col-md-3
			.lrg-diamond
				h1.glyphicon.glyphicon-phone
			.about-col
				h3 Strategy
				span.fa.fa-check Research & Analysis
				span.fa.fa-check Digital Strategy
				span.fa.fa-check User Experience
				span.fa.fa-check Brand Strategy
				span.dash-about
	.row.top-buffer.bottom-buffer
		.col-xs-12.col-md-6
			.intro-video
				h4.intro-title Introduction Video
				.dash-about
				.embed-responsive.embed-responsive-16by9
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qQB2wtKQkvM" allowfullscreen></iframe>
		.col-xs-12.col-md-6
			.skills
				h4.skills-title Our Skills
				.dash-about
				.skillbar.clearfix(data-percent="90%")
					.skillbar-title
						span Web Design | 90% |
					.skillbar-bar
				.skillbar.clearfix(data-percent="80%")
					.skillbar-title
						span Mobile Development | 80% |
					.skillbar-bar
				.skillbar.clearfix(data-percent="100%")
					.skillbar-title
						span HTML5 | 100% |
					.skillbar-bar
				.skillbar.clearfix(data-percent="100%")
					.skillbar-title
						span CSS3 | 100% |
					.skillbar-bar
				.skillbar.clearfix(data-percent="65%")
					.skillbar-title
						span JavaScript | 65% |
					.skillbar-bar
				.skillbar.clearfix(data-percent="65%")
					.skillbar-title
						span JQuery | 65% |
					.skillbar-bar