section.footer-section
	.col-lg-4
	.col-lg-4.col-md-12.social-icons
		a(href="https://www.facebook.com/gdevtech", target="_blank")
			.med-diamond
				h1.fa.fa-facebook
		a(href="https://www.instagram.com/gdevtech/", target="_blank")
			.med-diamond
				h1.fa.fa-instagram
		a(href="https://twitter.com/gdevtech", target="_blank")
			.med-diamond
				h1.fa.fa-twitter
		a(href="https://www.youtube.com/channel/UCpKNq2XOV2KumU2QYu0sajQ", target="_blank")
			.med-diamond
				h1.fa.fa-youtube-play
	.col-lg-4
footer
	.container
		.col-lg-4
		.col-lg-4.col-md-12
			nav
				a(href="#home") Home
				a(href="#intro") Intro
				a(href="#about") About
				a(href="#services") Services
				a(href="#works") Works
				a(href="#contact") Contact
		.col-lg-4
	.col-lg-4
	.col-lg-4.col-md-12
		p.copy-right © G Dev Tech 2016
	.col-lg-4