include ../partials/head.jade
body
	.navbar-wrapper
		.row
			nav.navbar.navbar-static-top
				.container
					.navbar-header
						button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a(class="navbar-brand", href="#")
							img(border="0", alt="G Dev Tech Logo", src="assets/img/logo.png")
					#navbar.navbar-collapse.collapse
						ul.nav.navbar-nav
							li.active
								a(href="#") HOME
							li
								a(href="#") INTRO
							li
								a(href="#") ABOUT
							li
								a(href="#") SERVICES
							li
								a(href="#") TEAM
							li
								a(href="#") HISTORY
							li
								a(href="#") WORKS
							li
								a(href="#") PRICES
							li
								a(href="#") CONTACT
							li
								a(href="#") BLOG
	// JQuery
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	// Latest compiled and minified JavaScript
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>