header
	h1 G Dev Tech
	h2 Growth. Development. Technology.
	img(src="assets/img/logo3.png", alt="G Dev Tech Logo")
	span(class="el-typed")
	a(href="#nav", class="arrow-circle glyphicon glyphicon-circle-arrow-down animated bounceInUp")