header
	h1 G Dev Tech
	h4 Focusing on Design &#38; Technology
	img(src="assets/img/logo.png", alt="G Dev Tech Logo")
	h2 We Know It Works
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis illo quis suscipit delectus, distinctio praesentium architecto voluptas veniam. Nulla odit, tempora maiores quas architecto minima fugiat perferendis voluptates aliquid nihil.