header
	h1 G Dev Tech
	h4 Focusing on Design &#38; Technology
	object
		embed(src="assets/img/logo.png", alt="G Dev Tech Logo")
	h2 We Know It Works
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis illo quis suscipit...
	a(href="#nav", class="glyphicon glyphicon-circle-arrow-down animated bounceInUp")