header
	h1 G Dev Tech
	h4 Focusing on Design &#38; Technology
	img(src="assets/img/logo3.png", alt="G Dev Tech Logo")
	h2.el-typed
	a(href="#nav", class="arrow-circle glyphicon glyphicon-circle-arrow-down animated bounceInUp")