header
	h1 G Dev Tech
	h4 Focusing on Design &#38; Technology
	img(src="assets/img/logo2.png", alt="G Dev Tech Logo")
	h2 We Know It Works
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis illo quis suscipit...
	a(href="#nav", class="arrow-circle glyphicon glyphicon-circle-arrow-down animated bounceInUp")