section#home.container
	.row.top-buffer
		.col-xs-12.col-md-12
			h1.text-center.title Hello &#38; Welcome
			h4.text-center.sub-title - Explore our World -
	.row.bottom-buffer
		.col-xs-12.col-md-12
			.row
				.col-xs-12.col-md-4
					.row
						.col-xs-10.col-md-10.boxem-odd
							h4.lead-odd Test Title
							p.sub-lead-odd Curabitur nulla odio bibendum sit amet facilisis sed lobotis itd justo. Done csec sollicitudin facilisis
						.col-xs-2.col-md-2
							.small-diamond
								h1.glyphicon.glyphicon-star-empty
								span.dash
				.col-xs-12.col-md-4
					.diamond-logo
						img(border="0", alt="G Dev Tech Logo", src="assets/img/logo3.png")
				.col-xs-12.col-md-4
					.row
						.col-xs-2.col-md-2
							.small-diamond-even
								h1.glyphicon.glyphicon-inbox
								span.dash
						.col-xs-10.col-md-10.boxem-even
							h4.lead-even Test Title
							p.sub-lead-even Curabitur nulla odio bibendum sit amet facilisis sed lobotis itd justo. Done csec sollicitudin facilisis
			.nth-row
				.col-xs-12.col-md-4
					.row
						.col-xs-10.col-md-10.boxem-odd
							h4.lead-odd Test Title
							p.sub-lead-odd Curabitur nulla odio bibendum sit amet facilisis sed lobotis itd justo. Done csec sollicitudin facilisis
						.col-xs-2.col-md-2
							.small-diamond
								h1.glyphicon.glyphicon-heart-empty
				.col-xs-12.col-md-4
				.col-xs-12.col-md-4
					.row
						.col-xs-2.col-md-2
							.small-diamond-even
								h1.glyphicon.glyphicon-screenshot
						.col-xs-10.col-md-10.boxem-even
							h4.lead-even Test Title
							p.sub-lead-even Curabitur nulla odio bibendum sit amet facilisis sed lobotis itd justo. Done csec sollicitudin facilisis