section#home.container
	.row.top-buffer
		.col-xs-12.col-md-12
			h1.text-center.title Hello &#38; Welcome
			h4.text-center.sub-title - Explore our World -
	.row.bottom-buffer
		.col-xs-12.col-md-12
			.row
				.col-xs-12.col-md-4
					.row
						.col-xs-10.col-md-10.boxem-odd
							h4.lead-odd ECOMMERCE SOLUTIONS
							p.sub-lead-odd From shopping cart solutions to third party integrations, we have your ecommerce website needs covered.
						.col-xs-2.col-md-2
							.small-diamond
								h1.fa.fa-shopping-basket
								span.dash
				.col-xs-12.col-md-4
					.diamond-logo
						img(border="0", alt="G Dev Tech Logo", src="assets/img/logo3.png")
				.col-xs-12.col-md-4
					.row
						.col-xs-2.col-md-2
							.small-diamond-even
								h1.fa.fa-desktop
								span.dash
						.col-xs-10.col-md-10.boxem-even
							h4.lead-even WEB APPLICATIONS
							p.sub-lead-even From initial concept to completion, we create engaging web applications that will streamline your business.
			.nth-row
				.col-xs-12.col-md-4
					.row
						.col-xs-10.col-md-10.boxem-odd
							h4.lead-odd RESPONSIVE WEB DESIGN
							p.sub-lead-odd It's time to step up and stay up with your users by adapting your site for the best user experience.
						.col-xs-2.col-md-2
							.small-diamond
								h1.fa.fa-crop
				.col-xs-12.col-md-4
				.col-xs-12.col-md-4
					.row
						.col-xs-2.col-md-2
							.small-diamond-even
								h1.fa.fa-mobile
						.col-xs-10.col-md-10.boxem-even
							h4.lead-even MOBILE APPLICATIONS
							p.sub-lead-even Those icons on your home screen can be your icon to reach and encourage better user interaction.