section#services.container
	.row.top-buffer
		.col-xs-12.col-md-12
			h1.text-center.title Services We Offer
			h4.text-center.sub-title - Read more about what we offer -
.sliderbox.top-buffer
	.container
		.col-xs-12.col-md-12.desk-mode
			ul(class="nav nav-tabs", id="myTabs", role="tablist")
				li(class="active", role="presentation")
					a(aria-controls="video", aria-expanded="true", data-toggle="tab", href="#video", id="video-tab", role="tab") Video Production
				li(class="", role="presentation")
					a(aria-controls="photo", aria-expanded="false", data-toggle="tab", href="#photo", id="photo-tab", role="tab") Photography
				li(class="", role="presentation")
					a(aria-controls="web", aria-expanded="false", data-toggle="tab", href="#web", id="web-tab", role="tab") Web Design & Development
				li(class="", role="presentation")
					a(aria-controls="app", aria-expanded="false", data-toggle="tab", href="#app", id="app-tab", role="tab") Applications
				li(class="", role="presentation")
					a(aria-controls="social", aria-expanded="false", data-toggle="tab", href="#social", id="social-tab", role="tab") Social Media
			div(class="tab-content", id="myTabContent")
				div(aria-labelledby="video-tab", class="tab-pane fade active in", id="video", role="tabpanel")
					.col-xs-12.col-md-6
						h2 Video Production
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis a necessitatibus, aut accusamus. Cum adipisci ullam alias enim culpa, quae deleniti placeat provident, ipsum error officiis! Debitis cumque quae id.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis a necessitatibus, aut accusamus. Cum adipisci ullam alias enim culpa, quae deleniti placeat provident, ipsum error officiis! Debitis cumque quae id.
						span.dash-serv
						p.more-link Learn More
					.col-xs-12.col-md-6
						img(src="../assets/img/services/vid-pro.png", alt="Services Video Production Image", width="350px", height="250px")
				div(aria-labelledby="photo-tab", class="tab-pane fade", id="photo", role="tabpanel")
					.col-xs-12.col-md-6
						h2 Photography
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis a necessitatibus, aut accusamus. Cum adipisci ullam alias enim culpa, quae deleniti placeat provident, ipsum error officiis! Debitis cumque quae id.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis a necessitatibus, aut accusamus. Cum adipisci ullam alias enim culpa, quae deleniti placeat provident, ipsum error officiis! Debitis cumque quae id.
						span.dash-serv
						p.more-link Learn More
					.col-xs-12.col-md-6
						img(src="../assets/img/services/photo.jpg", alt="Services Photography Image", width="350px", height="250px")
				div(aria-labelledby="web-tab", class="tab-pane fade", id="web", role="tabpanel")
					.col-xs-12.col-md-6
						h2 Web Design & Development
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis a necessitatibus, aut accusamus. Cum adipisci ullam alias enim culpa, quae deleniti placeat provident, ipsum error officiis! Debitis cumque quae id.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis a necessitatibus, aut accusamus. Cum adipisci ullam alias enim culpa, quae deleniti placeat provident, ipsum error officiis! Debitis cumque quae id.
						span.dash-serv
						p.more-link Learn More
					.col-xs-12.col-md-6
						img(src="../assets/img/services/website-development.png", alt="Services Web Design and Development Image", width="350px", height="250px")
				div(aria-labelledby="app-tab", class="tab-pane fade", id="app", role="tabpanel")
					.col-xs-12.col-md-6
						h2 Web Applications
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis a necessitatibus, aut accusamus. Cum adipisci ullam alias enim culpa, quae deleniti placeat provident, ipsum error officiis! Debitis cumque quae id.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis a necessitatibus, aut accusamus. Cum adipisci ullam alias enim culpa, quae deleniti placeat provident, ipsum error officiis! Debitis cumque quae id.
						span.dash-serv
						p.more-link Learn More
					.col-xs-12.col-md-6
						img(src="../assets/img/services/webapp.png", alt="Services Web Applications Image", width="350px", height="250px")
				div(aria-labelledby="social-tab", class="tab-pane fade", id="social", role="tabpanel")
					.col-xs-12.col-md-6
						h2 Social Media
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis a necessitatibus, aut accusamus. Cum adipisci ullam alias enim culpa, quae deleniti placeat provident, ipsum error officiis! Debitis cumque quae id.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis a necessitatibus, aut accusamus. Cum adipisci ullam alias enim culpa, quae deleniti placeat provident, ipsum error officiis! Debitis cumque quae id.
						span.dash-serv
						p.more-link Learn More
					.col-xs-12.col-md-6
						img(src="../assets/img/services/social-media.png", alt="Services Social Media Image", width="350px", height="250px")
		.col-xs-12.col-md-12.mob-mode
			div(class="panel-group", id="accordion", role="tablist", aria-multiselectable="true")
				div(class="panel panel-default")
					div(class="panel-heading", role="tab", id="headingOne")
						h4.panel-title
							a(role="button", data-toggle="collapse", data-parent="#accordion", href="#vidpro", aria-expanded="true", aria-controls="vidpro") Video Production
								.panel-diamond
									h1.glyphicon.glyphicon-export
					div(id="vidpro", class="panel-collapse collapse in", role="tabpanel", aria-labelledby="headingOne")
						div.panel-body
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium enim, aut voluptatum beatae quam laborum quis optio amet, veritatis quaerat animi natus sunt, debitis libero! Aut fuga eos accusamus eum?
				div(class="panel panel-default")
					div(class="panel-heading", role="tab", id="headingTwo")
						h4.panel-title
							a(class="collapsed", role="button", data-toggle="collapse", data-parent="#accordion", href="#photo", aria-expanded="false", aria-controls="photo") Photography
								.panel-diamond
									h1.glyphicon.glyphicon-export
					div(id="photo", class="panel-collapse collapse", role="tabpanel", aria-labelledby="headingTwo")
						div.panel-body
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium enim, aut voluptatum beatae quam laborum quis optio amet, veritatis quaerat animi natus sunt, debitis libero! Aut fuga eos accusamus eum?