section#services.container
	.row.top-buffer
		.col-xs-12.col-md-12
			h1.text-center.title Services We Offer
			h4.text-center.sub-title - Read more about what we offer -
.sliderbox.top-buffer
	.container
		// Desktop Mode
		.col-xs-12.col-md-12.desk-mode
			ul(class="nav nav-tabs", id="myTabs", role="tablist")
				li(class="active", role="presentation")
					a(aria-controls="video", aria-expanded="true", data-toggle="tab", href="#video", id="video-tab", role="tab") Video Production
				li(class="", role="presentation")
					a(aria-controls="photo", aria-expanded="false", data-toggle="tab", href="#photo", id="photo-tab", role="tab") Photography
				li(class="", role="presentation")
					a(aria-controls="web", aria-expanded="false", data-toggle="tab", href="#web", id="web-tab", role="tab") Web Design & Development
				li(class="", role="presentation")
					a(aria-controls="app", aria-expanded="false", data-toggle="tab", href="#app", id="app-tab", role="tab") Applications
				li(class="", role="presentation")
					a(aria-controls="social", aria-expanded="false", data-toggle="tab", href="#social", id="social-tab", role="tab") Social Media
			div(class="tab-content", id="myTabContent")
				div(aria-labelledby="video-tab", class="tab-pane fade active in", id="video", role="tabpanel")
					.col-xs-12.col-md-6
						h2 Video Production
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis a necessitatibus, aut accusamus. Cum adipisci ullam alias enim culpa, quae deleniti placeat provident, ipsum error officiis! Debitis cumque quae id.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis a necessitatibus, aut accusamus. Cum adipisci ullam alias enim culpa, quae deleniti placeat provident, ipsum error officiis! Debitis cumque quae id.
						span.dash-serv
					.col-xs-12.col-md-6
						img(src="../assets/img/services/vid-pro.png", class="img-responsive", alt="Services Video Production Image")
				div(aria-labelledby="photo-tab", class="tab-pane fade", id="photo", role="tabpanel")
					.col-xs-12.col-md-6
						h2 Photography
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis a necessitatibus, aut accusamus. Cum adipisci ullam alias enim culpa, quae deleniti placeat provident, ipsum error officiis! Debitis cumque quae id.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis a necessitatibus, aut accusamus. Cum adipisci ullam alias enim culpa, quae deleniti placeat provident, ipsum error officiis! Debitis cumque quae id.
						span.dash-serv
					.col-xs-12.col-md-6
						img(src="../assets/img/services/photo.jpg", class="img-responsive", alt="Services Photography Image")
				div(aria-labelledby="web-tab", class="tab-pane fade", id="web", role="tabpanel")
					.col-xs-12.col-md-6
						h2 Web Design & Development
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis a necessitatibus, aut accusamus. Cum adipisci ullam alias enim culpa, quae deleniti placeat provident, ipsum error officiis! Debitis cumque quae id.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis a necessitatibus, aut accusamus. Cum adipisci ullam alias enim culpa, quae deleniti placeat provident, ipsum error officiis! Debitis cumque quae id.
						span.dash-serv
					.col-xs-12.col-md-6
						img(src="../assets/img/services/website-development.png", class="img-responsive", alt="Services Web Design and Development Image")
				div(aria-labelledby="app-tab", class="tab-pane fade", id="app", role="tabpanel")
					.col-xs-12.col-md-6
						h2 Web Applications
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis a necessitatibus, aut accusamus. Cum adipisci ullam alias enim culpa, quae deleniti placeat provident, ipsum error officiis! Debitis cumque quae id.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis a necessitatibus, aut accusamus. Cum adipisci ullam alias enim culpa, quae deleniti placeat provident, ipsum error officiis! Debitis cumque quae id.
						span.dash-serv
					.col-xs-12.col-md-6
						img(src="../assets/img/services/webapp.png", class="img-responsive", alt="Services Web Applications Image")
				div(aria-labelledby="social-tab", class="tab-pane fade", id="social", role="tabpanel")
					.col-xs-12.col-md-6
						h2 Social Media
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis a necessitatibus, aut accusamus. Cum adipisci ullam alias enim culpa, quae deleniti placeat provident, ipsum error officiis! Debitis cumque quae id.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis a necessitatibus, aut accusamus. Cum adipisci ullam alias enim culpa, quae deleniti placeat provident, ipsum error officiis! Debitis cumque quae id.
						span.dash-serv
					.col-xs-12.col-md-6
						img(src="../assets/img/services/social-media.png", class="img-responsive", alt="Services Social Media Image")
		// Mobile Mode
		.col-xs-12.col-md-12.mob-mode
			div(class="panel-group", id="accordion", role="tablist", aria-multiselectable="true")
				div(class="panel panel-default")
					div(class="panel-heading", role="tab", id="vidTab")
						h4.panel-title
							a(role="button", data-toggle="collapse", data-parent="#accordion", href="#collapseVid", aria-expanded="true", aria-controls="collapseVid") Video Production
								.panel-diamond
									h1.glyphicon.glyphicon-facetime-video
					div(id="collapseVid", class="panel-collapse collapse in", role="tabpanel", aria-labelledby="vidTab")
						.panel-body
							img(src="../assets/img/services/vid-pro.png", class="img-responsive", alt="Services Video Production Image")
							.caption
								h3 Video Production
								p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis aliquid ea, asperiores aliquam fuga aspernatur quaerat deserunt dignissimos accusamus odio soluta, eum rem animi quibusdam repellat veniam assumenda id, nam.
								span.dash-serv
				div(class="panel panel-default")
					div(class="panel-heading", role="tab", id="photoTab")
						h4.panel-title
							a(class="collapsed", role="button", data-toggle="collapse", data-parent="#accordion", href="#collapsePhoto", aria-expanded="false", aria-controls="collapsePhoto") Photography
								.panel-diamond
									h1.glyphicon.glyphicon-camera
					div(id="collapsePhoto", class="panel-collapse collapse", role="tabpanel", aria-labelledby="photoTab")
						.panel-body
							img(src="../assets/img/services/photo.jpg", class="img-responsive", alt="Services Video Production Image")
							.caption
								h3 Photography
								p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis aliquid ea, asperiores aliquam fuga aspernatur quaerat deserunt dignissimos accusamus odio soluta, eum rem animi quibusdam repellat veniam assumenda id, nam.
								span.dash-serv
				div(class="panel panel-default")
					div(class="panel-heading", role="tab", id="webTab")
						h4.panel-title
							a(class="collapsed", role="button", data-toggle="collapse", data-parent="#accordion", href="#collapseWeb", aria-expanded="false", aria-controls="collapseWeb") Web D & D
								.panel-diamond
									h1.glyphicon.glyphicon-blackboard
					div(id="collapseWeb", class="panel-collapse collapse", role="tabpanel", aria-labelledby="webTab")
						.panel-body
							img(src="../assets/img/services/website-development.png", class="img-responsive", alt="Services Video Production Image")
							.caption
								h3 Web Design & Development
								p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis aliquid ea, asperiores aliquam fuga aspernatur quaerat deserunt dignissimos accusamus odio soluta, eum rem animi quibusdam repellat veniam assumenda id, nam.
								span.dash-serv
				div(class="panel panel-default")
					div(class="panel-heading", role="tab", id="appTab")
						h4.panel-title
							a(class="collapsed", role="button", data-toggle="collapse", data-parent="#accordion", href="#collapseApp", aria-expanded="false", aria-controls="collapseApp") Applications
								.panel-diamond
									h1.glyphicon.glyphicon-list-alt
					div(id="collapseApp", class="panel-collapse collapse", role="tabpanel", aria-labelledby="appTab")
						.panel-body
							img(src="../assets/img/services/webapp.png", class="img-responsive", alt="Services Video Production Image")
							.caption
								h3 Applications
								p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis aliquid ea, asperiores aliquam fuga aspernatur quaerat deserunt dignissimos accusamus odio soluta, eum rem animi quibusdam repellat veniam assumenda id, nam.
								span.dash-serv
		// End of Mobile Mode