section#works.container
	.row.top-buffer
		.col-xs-12.col-md-12
			h1.text-center.title Recent Works
			h4.text-center.sub-title - Lets show you what we got -
	.row
		.col-lg-4.col-sm-4.col-6
			a(href="#", title="WEbsite 1")
				img(src="//placehold.it/600x350", class="thumbnail img-responsive", alt="Recent Works, Laurel Symone Website Tumbnail, Developed by G Dev Tech")
		.col-lg-4.col-sm-4.col-6
			a(href="#", title="Website 2")
				img(src="//placehold.it/600x350", class="thumbnail img-responsive", alt="Recent Works, Laurel Symone Website Tumbnail, Developed by G Dev Tech")
		.col-lg-4.col-sm-4.col-6
			a(href="#", title="Website 3")
				img(src="//placehold.it/600x350", class="thumbnail img-responsive", alt="Recent Works, Laurel Symone Website Tumbnail, Developed by G Dev Tech")
	div(id="myModal", class="modal fade", tabindex="-1", role="dialog")
		.modal-dialog
			.modal-content
				.modal-header
					button(class="close", data-dismiss="modal", type="button") X
					h3.modal-title Heading
				.modal-body
				.modal-footer
					button(class="btn btn-default", data-dismiss="modal") Close
.works-section.top-buffer
	.container-works
		h1 Are You Impressed By My Work?
		p No need to hold your breath, just reach out so we can talk...
		.btn-primary Get In Touch