.top
	position: fixed
	bottom: 2em
	right: 15px
	text-decoration: none
	color: #000000
	width: 35px
	height: 35px
	background-color: rgba(255, 255, 255, 0.72)
	transform(rotate(45deg))
	box-shadow(2px 2px 7px 1px grey)
	font-size: 12px
	padding: 1em
	display: none
	cursor: pointer
	&:hover
		background-color: $main-color
		color: white
.top-inner
	transform(rotate(-45deg))