.navbar-wrapper
	overflow: hidden
.navbar
	background-color: $main-color
.active
	background-color: $main-color
	border-bottom: 3px solid white
.navbar-brand
	padding-top: 0
	color: white
    width: 102px
    float: left
    position: absolute
    display: inline-block
    left: 28px
	&:hover
		color: white
		text-decoration: none
		border-bottom: 3px solid white
		padding-bottom: 12px
.navbar-brand>img
	width: 75px
	@media (max-width: 991px)
		margin-left 10px
.navbar-nav
	float: right
	@media (max-width: 991px)
		float: none
.nav>li>a
	color: white
	&:focus
		background-color: $main-color
	&:hover
		background-color: $main-color
		text-decoration: none
		border-bottom: 3px solid white
		padding-bottom: 12px
	@media (max-width: 991px)
		margin-left 10px
		&:hover
			font-weight 600
.navbar-toggle .icon-bar
	background-color white
	
/* Floating Navigation Material  */
.float-nav 
	position: fixed
	z-index: 1
	bottom: 1.375em
	right: 1.375em
	overflow: hidden
	width: 200px
	height: 250px
	padding: 1.375em
	text-align: right
	background: $main-color
	border-radius: 10px
	box-shadow: 0 1px 2px rgba(0,0,0,0.2), 0 4px 10px rgba(0,0,0,0.15)
	-webkit-transition: all 300ms cubic-bezier(.6, -0.3, .3, 1.3)
	transition: all 300ms cubic-bezier(.6, -0.3, .3, 1.3)


.float-nav .toggle 
	position: absolute
	bottom: 0
	right: 0
	width: 1.375em
	height: 1.375em
	font-size: 200%
	line-height: 1.375em
	font-weight: 300
	text-align: center
	-webkit-transform: rotate(45deg)
	-ms-transform: rotate(45deg)
	transform: rotate(45deg)
	-webkit-transform-origin: 50%
	-ms-transform-origin: 50%
	transform-origin: 50%
	-webkit-transition: all 300ms
	transition: all 300ms

.float-nav.closed .toggle 
	-webkit-transform: rotate(0)
	-ms-transform: rotate(0)
	transform: rotate(0)

.float-nav.closed 
	width: 0
	height: 0
	border: 5px solid #fff
	border-radius: 50%


.float-nav a 
	display: inline-block
	color: #fff
	text-decoration: none


.float-nav > a  
	-webkit-tap-highlight-color: rgba(0,0,0,0) 


.float-nav ul 
	position: absolute
	bottom: 4.125em
	right: 1.375em
	opacity: 1
	list-style: none
	-webkit-transition: all 300ms
	transition: all 300ms


.float-nav.closed ul  
	opacity: 0 

.float-nav li 
	padding: 0.25em 0
	margin-bottom: 0
	-webkit-transition: all 600ms
	transition: all 600ms


.float-nav.closed li  
	margin-bottom: 1.375em 
