.navbar-wrapper
	overflow: hidden
.navbar
	background-color: $main-color
.active
	background-color: #3e7ae3
	border-bottom: 3px solid $white
.navbar-brand
	padding-top: 0
	color: $white
	background-color: #3E7AE3
    width: 102px
    float: left
    position: absolute
    display: inline-block
    left: 28px
	&:hover
		color: $white
		text-decoration: none
		border-bottom: 3px solid $white
		padding-bottom: 12px
.navbar-brand>img
	width: 65px
	@media (max-width: 767px)
		margin-left 10px
.navbar-nav
	float: right
.nav>li>a
	color: $white
	&:focus
		background-color: #3e7ae3
	&:hover
		background-color: #3e7ae3
		text-decoration: none
		border-bottom: 3px solid $white
		padding-bottom: 12px
	@media (max-width: 767px)
		margin-left 10px
		&:hover
			font-weight 600
		
		
.navbar-toggle .icon-bar
	background-color $white
	